{% if user %}

{% include 'header_lk' %}
<div class="lk">
	
	<section class="lk-empls" id="lk-empls">
		<div class="container">
			<div class="lk-empls__wrapper">
				<div class="lk-empls-block lk-empls-block--list">
					<div class="empls-list-search">
						<input type="text" class="empls-list-search__input" placeholder="Поиск" v-model="search">
						<div class="lk-input">
							<div class="lk-select" v-on-click-away="hideDepartmentFilterSelectItemsList">
								<div class="lk-select__header lk-select__header--fw" @click.stop="departmentFilter.isShowItemsList = !departmentFilter.isShowItemsList">{{ departmentSelectText }}</div>
								<transition name="select">
									<div class="lk-select__list" v-show="departmentFilter.isShowItemsList">
										<div v-for="opt in departmentFilter.items" :key="opt.value">
											<div class="lk-select__list-item" 
												 @click.stop="selectSetItem(departmentFilter, opt)"
												 >
												{{ opt.title }}
											</div>
											<template v-if="opt.items && opt.items.length">
												<div class="lk-select__list-item lk-select__list-item--subitem" 
													 v-for="subopt in opt.items" 
													 :key="subopt.value"
													 @click.stop="selectSetItem(departmentFilter, subopt)"
													 >
													{{ subopt.title }}
												</div>
											</template>
										</div>
									</div>
								</transition>
							</div>
						</div>
					</div>
					<div class="empls-list">
						<div class="empls-list-item" :class="{'empls-list-item--active': selectedEmpl == item}" v-for="(item, i) in filteredEmpls" :key="item.id" @click.stop="selectedEmpl = item">
							<div class="empls-list-item__block empls-list-item__block--ava">
								<img v-if="item.field_image" class="empls-list-item__ava" :src="'/site/data/images/large/' + item.field_image">
								<div v-else class="empls-list-item__noava">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101"><path d="M50.4 54.5c10.1 0 18.2-8.2 18.2-18.2S60.5 18 50.4 18s-18.2 8.2-18.2 18.2 8.1 18.3 18.2 18.3zm0-31.7c7.4 0 13.4 6 13.4 13.4s-6 13.4-13.4 13.4S37 43.7 37 36.3s6-13.5 13.4-13.5zM18.8 83h63.4c1.3 0 2.4-1.1 2.4-2.4 0-12.6-10.3-22.9-22.9-22.9H39.3c-12.6 0-22.9 10.3-22.9 22.9 0 1.3 1.1 2.4 2.4 2.4zm20.5-20.5h22.4c9.2 0 16.7 6.8 17.9 15.7H21.4c1.2-8.9 8.7-15.7 17.9-15.7z"/></svg>	
								</div>
							</div>
							<div class="empls-list-item__block empls-list-item__block--main">
								<div class="empls-list-item__title">{{ item.field_fullname }}</div>
								<div class="empls-list-item__subtitle">{{ item.field_position }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="lk-empls-block lk-empls-block--single" v-show="selectedEmpl">
					<div class="lk-modal__closer" @click.stop="selectedEmpl = null"></div>
					<div class="empls-single" v-if="selectedEmpl">
						<div class="empls-single__block empls-single__block--ava">
							<img v-if="selectedEmpl.field_image" class="empls-single__ava" :src="'/site/data/images/large/' + selectedEmpl.field_image">
							<div v-else class="empls-single__noava">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101"><path d="M50.4 54.5c10.1 0 18.2-8.2 18.2-18.2S60.5 18 50.4 18s-18.2 8.2-18.2 18.2 8.1 18.3 18.2 18.3zm0-31.7c7.4 0 13.4 6 13.4 13.4s-6 13.4-13.4 13.4S37 43.7 37 36.3s6-13.5 13.4-13.5zM18.8 83h63.4c1.3 0 2.4-1.1 2.4-2.4 0-12.6-10.3-22.9-22.9-22.9H39.3c-12.6 0-22.9 10.3-22.9 22.9 0 1.3 1.1 2.4 2.4 2.4zm20.5-20.5h22.4c9.2 0 16.7 6.8 17.9 15.7H21.4c1.2-8.9 8.7-15.7 17.9-15.7z"/></svg>	
							</div>
						</div>
						<div class="empls-single__block empls-single__block--main">
							<div class="empls-single__main">
								<div class="empls-single__title">{{ selectedEmpl.field_fullname }}</div>
								<div class="empls-single__pos">{{ selectedEmpl.field_position }}</div>
								<div class="empls-single__lines">
									<div class="empls-single__line">День рождения: {{ getBDay(selectedEmpl.field_bday) }}</div>
									<div class="empls-single__line">Стаж:{{ calcExp() }}</div>
								</div>
								<div class="empls-single__grid">
									<div class="empls-single__subtitle">Контакты</div>
									<div class="empls-single__grid-wrap">
										<!--div class="empls-single__card">
											<div class="empls-single__card-title">Мобильный:</div> 
											<div class="empls-single__card-value">{{ selectedEmpl.field_phone_personal }}</div>
										</div-->
										<div class="empls-single__card">
											<div class="empls-single__card-title">E-mail: </div> 
											<div class="empls-single__card-value"><a :href="selectedEmpl.email">{{ selectedEmpl.email }}</a></div>
										</div>
										<div class="empls-single__card" v-for="item in selectedEmpl.field_contacts_data">
											<div class="empls-single__card-title">{{ item.title }}:</div> 
											<div class="empls-single__card-value">{{ item.value }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

{% include 'footer_lk' %}

{% else %}
	<script>
		location.href = location.origin + '/?login=yes'
	</script>
{% endif %}