{% include 'header_lk' %}

<div class="lk" data-user-id="{$ user.id $}">
	<div class="lk__layout">
		<div class="lk-menu">
			{% include 'menu_lk' with {rolename: user.role.name} %}
		</div>
		<div class="lk-content">
			<div class="lk-content-header">
				<div class="lk-content-header__block">
					<h1>Проверочные работы</h1>
				</div>
				<div class="divider"></div>
				<div class="lk-content-header__block">
					<div class="lk-content-search">
						{#
						<vue-tags-input
							v-model="tag"
							:tags="search.tags"
							:autocomplete-items="filteredTags"
							@tags-changed="newTags => search.tags = newTags"
							placeholder="Поиск"
						>
							<div
								slot="autocomplete-item"
								slot-scope="props"
								class="my-item"
								@click="props.performAdd(props.item)"
							>
								<template v-if="props.item.type == 'tag'">#</template>{{ props.item.text }}
							</div>
						</vue-tags-input>
						#}
					</div>
				</div>
			</div>
			
			<div class="hw-filters">
				
				<div class="hw-filter" style="flex: 0 0 225px;">
					<div class="hw-filter__title"></div>
					<div class="checkbox-filter">
						<input type="checkbox" id="hw-filter-status" name="hw-filter-status" v-model="filters.status">
						<label for="hw-filter-status">Непровереные работы</label>
					</div>
				</div>
				
				{% if user.role.name == 'admin' %}
				<div class="hw-filter">
					<div class="hw-filter__title">Преподаватели {{filters.teachers}}</div>
					<select-filter
						:items="teachers"
						:selected-items="filters.teachers"
						:text-field="'field_fullname'"
						:title="'Преподаватели'"
						@set-item="payload => setFilter(filters.teachers, payload)"
					></select-filter>
				</div>
				{% endif %}
				
				{% if user.role.name != 'student' %}
				<div class="hw-filter">
					<div class="hw-filter__title">Сотрудник {{filters.students}}</div>
					<select-filter
						:items="students"
						:selected-items="filters.students"
						:text-field="'field_fullname'"
						:title="'Сотрудник'"
						@set-item="payload => setFilter(filters.students, payload)"
					></select-filter>
				</div>
				{% endif %}
				
				<div class="hw-filter">
					<div class="hw-filter__title">Задачи {{filters.lessons}}</div>
					<select-filter
						:items="lessonsFilterItems"
						:selected-items="filters.lessons"
						:text-field="'field_header'"
						:title="'Задачи'"
						@set-item="payload => setFilter(filters.lessons, payload)"
					></select-filter>
				</div>
				
				<div class="hw-filter">
					<div class="hw-filter__title">Курсы {{filters.courses}}</div>
					<select-filter
						:items="coursesFilterItems"
						:selected-items="filters.courses"
						:text-field="'field_header'"
						:title="'Курсы'"
						@set-item="payload => setFilter(filters.courses, payload)"
					></select-filter>
				</div>
				{#
				<div class="hw-filter">
					<div class="hw-filter__title">Преподаватели {{filters.teachers}}</div>
					<div class="filter-select">
						<div class="filter-select__trigger"></div>
						<div class="filter-select__items">
							<div class="filter-select__item" @click.stop="setFilter(filters.teachers, item.id)" v-for="item in teachers" :key="item.id">
								{{item.field_fullname}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="hw-filter">
					<div class="hw-filter__title">Ученики {{filters.students}}</div>
					<div class="filter-select">
						<div class="filter-select__trigger"></div>
						<div class="filter-select__items">
							<div class="filter-select__item" @click.stop="setFilter(filters.students, item.id)" v-for="item in students" :key="item.id">
								{{item.field_fullname}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="hw-filter">
					<div class="hw-filter__title">Уроки {{filters.lessons}}</div>
					<div class="filter-select">
						<div class="filter-select__trigger"></div>
						<div class="filter-select__items">
							<div class="filter-select__item" @click.stop="setFilter(filters.lessons, item.id)" v-for="item in lessonsFilterItems" :key="item.id">
								{{item.field_header}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="hw-filter">
					<div class="hw-filter__title">Курсы {{filters.courses}}</div>
					<div class="filter-select">
						<div class="filter-select__trigger"></div>
						<div class="filter-select__items">
							<div class="filter-select__item" @click.stop="setFilter(filters.courses, item.id)" v-for="item in coursesFilterItems" :key="item.id">
								{{item.field_header}}
							</div>
						</div>
					</div>
				</div>
				
				#}
				
			</div>
			
			<div class="hw-list">
				<hw-item 
					v-for="item in filteredItems" 
					:item="item" 
					:rating-systems="RATING_SYSTEMS"
					:user="USER"
					:key="item.id"
					@delete-item="deleteItem"	
					@update-item="updateItem"	 
				></hw-item>
			</div>
		</div>
	</div>
</div>

{% include 'footer_lk' %}
<script src="/site/theme/js/lk_homeworks.js" type="module"></script>