{% if user %}

{% include 'header_lk' %}
<div class="lk" id="lk" data-user-id="{$ user.id $}">
	
	<section class="lk-requests" id="lk-requests" >
		<div class="container">
			<div class="lk-requests__wrapper">
				<div class="lk-requests-block">
					<div class="lk-requests-list">
						<div class="lk-main-request-list-item" :class="{'lk-main-request-list-item--accepted': item.hr_accepted == 1, 'lk-main-request-list-item--denied': item.hr_denied == 1}" v-for="item in requests" :key="item.id">
							<div class="lk-main-request-list-item__block">
								<div class="lk-main-request-list-item__title">{{ getRequestTitle(item.type) }}</div>
								<div class="lk-main-request-list-item__from">{{ getUserNameById(item.user_id) }}</div>
								<div class="lk-main-request-list-item__type">{{ getVacationType(item.vacation_type) }}</div>
								<div class="lk-main-request-list-item__dates">{{ item.dates.start + ' - ' + item.dates.end }}</div>
								<div class="lk-main-request-list-item__stage">Статус: {{ requestStatusText(item) }}</div>
							</div>
							<div class="lk-main-request-list-item__block">
								<div class="lk-main-request-list-item__empl">
									<div class="lk-main-request-list-item__empl__title">{{ getAcceptorTitle(item.type) }} <span class="lk-main-request-list-item__status" :class="{'lk-main-request-list-item__status--accepted': item.substitutor_accepted == 1, 'lk-main-request-list-item__status--denied': item.substitutor_denied == 1}"></span></div>
									<div class="lk-main-request-list-item__empl__name">{{ getUserNameById(item.substitutor) }}</div>
								</div>
								<div class="lk-main-request-list-item__empl">
									<div class="lk-main-request-list-item__empl__title">Согласующий <span class="lk-main-request-list-item__status" :class="{'lk-main-request-list-item__status--accepted': item.coordinator_accepted == 1, 'lk-main-request-list-item__status--denied': item.coordinator_denied == 1}"></span></div>
									<div class="lk-main-request-list-item__empl__name">{{ getUserNameById(item.coordinator) }}</div>
								</div>
							</div>
							<template v-if="currentUser">
								<template v-if="currentUser.id == item.acceptor">
									<div class="lk-main-request-list-item__block lk-main-request-list-item__block--footer">
										<div class="lk-main-request-list-item__action" >
											<button type="button" class="lk-btn lk-btn--color-red" v-show="!isAccepted(item)" @click.stop="deniedRequest(item.id, isDenied(item))">{{ denyRequestBtnText(isDenied(item)) }}</button>
											<button type="button" class="lk-btn lk-btn--color-blue" v-show="!isDenied(item)" @click.stop="acceptRequest(item.id, isAccepted(item))" >{{ acceptRequestBtnText(isAccepted(item)) }}</button>
										</div>
									</div>
								</template>
								<template v-else>
									<div class="lk-main-request-list-item__block lk-main-request-list-item__block--footer">
										<div class="lk-main-request-list-item__action" >
											<button type="button" class="lk-btn lk-btn--color-red" :disabled="item.hr_accepted == 1 || item.hr_denied == 1" v-show="!isAccepted(item)" @click.stop="deniedRequest(item.id, isDenied(item))">{{ denyRequestBtnText(isDenied(item)) }}</button>
											<button type="button" class="lk-btn lk-btn--color-blue" :disabled="item.hr_accepted == 1 || item.hr_denied == 1" v-show="!isDenied(item)" @click.stop="acceptRequest(item.id, isAccepted(item))" >{{ acceptRequestBtnText(isAccepted(item)) }}</button>
										</div>
										<!--div class="lk-main-request-list-item__action" >
											<button type="button" class="lk-btn lk-btn--color-green" @click.stop="unDeniedRequest(item.id)">Отклонено</button>
											<button type="button" class="lk-btn lk-btn--color-green" :disabled="item.hr_accepted == 1" @click.stop="denyRequest(item.id)">Согласовано</button>
										</div-->
									</div>
								</template>
							</template>
						</div>
					</div>
				</div>
				<div class="lk-requests-block">
					
				</div>
			</div>
		</div>
	</section>

</div>

{% include 'footer_lk' %}

{% else %}
	<script>
		location.href = location.origin + '/?login=yes'
	</script>
{% endif %}